.confirmation {
  margin-top: 10%;
  font-size: 1.3rem;
  padding: 2%;
}
span {
  color: #ff8c00;
  font-weight: 900;
}

@media (min-width: 1024px) {
  .confirmation {
    margin-top: 5%;
    font-size: 1.6rem;
  }
}
