select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 86%;
  height: 25%;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  outline: 1px inset #fff;
  outline-offset: -1px;
  font-size: 1.4rem;
  background: #ff8c00;
  color: white;
  border: none;
  background-image: url("../../../images/arrow.png");
  background-repeat: no-repeat;
  background-position: right 0.2em top 40%, 0 0;
  background-size: 1.7em auto, 100%;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  select {
    width: 78%;
  }
}
@media only screen and (min-device-width: 319px) and (max-device-width: 825px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  select {
    width: 78%;
  }
}
@media (min-width: 1024px) {
  select {
    max-width: 54.5%;
    height: 25%;
    font-size: 1.6rem;
  }
}
